body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:610px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:920px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:920px;
}
#u1 {
  position:absolute;
  left:2px;
  top:452px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:19px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:19px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1px;
  top:49px;
  width:373px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u5 {
  position:absolute;
  left:333px;
  top:29px;
  width:27px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:17px;
  top:67px;
  width:113px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:17px;
  top:89px;
  width:357px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:340px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:357px;
  height:1px;
}
#u10 {
  position:absolute;
  left:17px;
  top:109px;
  width:343px;
  height:32px;
  color:#000000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:32px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:6px;
  top:29px;
  width:22px;
  height:22px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u13 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:17px;
  top:160px;
  width:343px;
  height:16px;
  color:#000000;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:17px;
  top:186px;
  width:343px;
  height:174px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:174px;
}
#u17 {
  position:absolute;
  left:2px;
  top:79px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:17px;
  top:370px;
  width:343px;
  height:16px;
  color:#000000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:17px;
  top:396px;
  width:343px;
  height:174px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:174px;
}
#u21 {
  position:absolute;
  left:2px;
  top:79px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:360px;
  top:661px;
  width:130px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:113px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:130px;
  height:1px;
}
#u23 {
  position:absolute;
  left:17px;
  top:580px;
  width:343px;
  height:174px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:174px;
}
#u24 {
  position:absolute;
  left:2px;
  top:79px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:17px;
  top:764px;
  width:343px;
  height:32px;
  color:#000000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:32px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:427px;
  top:29px;
  width:183px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:317px;
  top:67px;
  width:32px;
  height:19px;
  font-size:16px;
  color:#CCCCCC;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:164px;
  top:29px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
