body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:103px;
  width:375px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:103px;
  width:375px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:108px;
  top:127px;
  width:22px;
  height:22px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:100px;
  top:149px;
  width:375px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u7 {
  position:absolute;
  left:100px;
  top:183px;
  width:375px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u8 {
  position:absolute;
  left:138px;
  top:164px;
  width:53px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:114px;
  top:162px;
  width:20px;
  height:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u11 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:380px;
  top:161px;
  width:80px;
  height:24px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:100px;
  top:796px;
  width:595px;
  height:413px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:100px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:250px;
  top:0px;
  width:103px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:353px;
  top:0px;
  width:119px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:472px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:121px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:121px;
}
#u26 {
  position:absolute;
  left:2px;
  top:52px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:100px;
  top:30px;
  width:150px;
  height:121px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:121px;
}
#u28 {
  position:absolute;
  left:2px;
  top:44px;
  width:146px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:250px;
  top:30px;
  width:103px;
  height:121px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:121px;
}
#u30 {
  position:absolute;
  left:2px;
  top:52px;
  width:99px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:353px;
  top:30px;
  width:119px;
  height:121px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:121px;
}
#u32 {
  position:absolute;
  left:2px;
  top:52px;
  width:115px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:472px;
  top:30px;
  width:118px;
  height:121px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:121px;
}
#u34 {
  position:absolute;
  left:2px;
  top:52px;
  width:114px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:151px;
  width:100px;
  height:113px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:113px;
}
#u36 {
  position:absolute;
  left:2px;
  top:48px;
  width:96px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:100px;
  top:151px;
  width:150px;
  height:113px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:113px;
}
#u38 {
  position:absolute;
  left:2px;
  top:48px;
  width:146px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:250px;
  top:151px;
  width:103px;
  height:113px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:113px;
}
#u40 {
  position:absolute;
  left:2px;
  top:48px;
  width:99px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:353px;
  top:151px;
  width:119px;
  height:113px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:113px;
}
#u42 {
  position:absolute;
  left:2px;
  top:48px;
  width:115px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:472px;
  top:151px;
  width:118px;
  height:113px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:113px;
}
#u44 {
  position:absolute;
  left:2px;
  top:48px;
  width:114px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:264px;
  width:100px;
  height:144px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:144px;
}
#u46 {
  position:absolute;
  left:2px;
  top:64px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:100px;
  top:264px;
  width:150px;
  height:144px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:144px;
}
#u48 {
  position:absolute;
  left:2px;
  top:56px;
  width:146px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:250px;
  top:264px;
  width:103px;
  height:144px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:144px;
}
#u50 {
  position:absolute;
  left:2px;
  top:64px;
  width:99px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:353px;
  top:264px;
  width:119px;
  height:144px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:144px;
}
#u52 {
  position:absolute;
  left:2px;
  top:64px;
  width:115px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:472px;
  top:264px;
  width:118px;
  height:144px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:144px;
}
#u54 {
  position:absolute;
  left:2px;
  top:64px;
  width:114px;
  word-wrap:break-word;
}
