body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u1 {
  position:absolute;
  left:2px;
  top:67px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:59px;
  top:20px;
  width:193px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:30px;
  top:52px;
  width:248px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:0px;
  top:100px;
  width:300px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u7 {
  position:absolute;
  left:140px;
  top:105px;
  width:10px;
  height:45px;
}
#u7_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u7_end {
  position:absolute;
  left:-5px;
  top:28px;
  width:20px;
  height:18px;
}
#u7_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:45px;
}
#u8 {
  position:absolute;
  left:44px;
  top:120px;
  width:46px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:200px;
  top:120px;
  width:31px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:15px;
  color:#0000FF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:360px;
  top:0px;
  width:300px;
  height:150px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u13 {
  position:absolute;
  left:2px;
  top:67px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:400px;
  top:20px;
  width:209px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:383px;
  top:52px;
  width:260px;
  height:32px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:32px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:360px;
  top:100px;
  width:300px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u19 {
  position:absolute;
  left:500px;
  top:105px;
  width:10px;
  height:45px;
}
#u19_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u19_end {
  position:absolute;
  left:-5px;
  top:28px;
  width:20px;
  height:18px;
}
#u19_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:45px;
}
#u20 {
  position:absolute;
  left:419px;
  top:120px;
  width:31px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:560px;
  top:120px;
  width:16px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:15px;
  color:#0000FF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:0px;
  top:220px;
  width:300px;
  height:150px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u25 {
  position:absolute;
  left:2px;
  top:67px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:59px;
  top:240px;
  width:193px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:30px;
  top:272px;
  width:248px;
  height:32px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:32px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:320px;
  width:300px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u31 {
  position:absolute;
  left:140px;
  top:325px;
  width:10px;
  height:45px;
}
#u31_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u31_end {
  position:absolute;
  left:-5px;
  top:28px;
  width:20px;
  height:18px;
}
#u31_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:45px;
}
#u32 {
  position:absolute;
  left:44px;
  top:340px;
  width:46px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:200px;
  top:340px;
  width:31px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:15px;
  color:#0000FF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:0px;
  top:440px;
  width:300px;
  height:150px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u37 {
  position:absolute;
  left:2px;
  top:67px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:59px;
  top:460px;
  width:193px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:30px;
  top:492px;
  width:248px;
  height:32px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:32px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:540px;
  width:300px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u43 {
  position:absolute;
  left:140px;
  top:545px;
  width:10px;
  height:45px;
}
#u43_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u43_end {
  position:absolute;
  left:-5px;
  top:28px;
  width:20px;
  height:18px;
}
#u43_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:45px;
}
#u44 {
  position:absolute;
  left:44px;
  top:560px;
  width:46px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:200px;
  top:560px;
  width:31px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:15px;
  color:#0000FF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:0px;
  top:640px;
  width:300px;
  height:150px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u49 {
  position:absolute;
  left:2px;
  top:67px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:59px;
  top:660px;
  width:209px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:30px;
  top:692px;
  width:248px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:740px;
  width:300px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u55 {
  position:absolute;
  left:140px;
  top:745px;
  width:10px;
  height:45px;
}
#u55_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u55_end {
  position:absolute;
  left:-5px;
  top:28px;
  width:20px;
  height:18px;
}
#u55_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:45px;
}
#u56 {
  position:absolute;
  left:44px;
  top:760px;
  width:46px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:200px;
  top:760px;
  width:31px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:15px;
  color:#0000FF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:0px;
  top:160px;
  width:158px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:0px;
  top:600px;
  width:301px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:0px;
  top:804px;
  width:301px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:0px;
  top:390px;
  width:158px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:360px;
  top:220px;
  width:300px;
  height:150px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u69 {
  position:absolute;
  left:2px;
  top:67px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:464px;
  top:240px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:380px;
  top:272px;
  width:260px;
  height:32px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:32px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:360px;
  top:320px;
  width:300px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u75 {
  position:absolute;
  left:500px;
  top:325px;
  width:10px;
  height:45px;
}
#u75_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u75_end {
  position:absolute;
  left:-5px;
  top:28px;
  width:20px;
  height:18px;
}
#u75_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:45px;
}
#u76 {
  position:absolute;
  left:419px;
  top:340px;
  width:31px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:560px;
  top:340px;
  width:16px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:15px;
  color:#0000FF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:360px;
  top:440px;
  width:300px;
  height:150px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u81 {
  position:absolute;
  left:2px;
  top:67px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:464px;
  top:457px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:390px;
  top:487px;
  width:260px;
  height:32px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:32px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:360px;
  top:540px;
  width:300px;
  height:10px;
}
#u86_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u87 {
  position:absolute;
  left:500px;
  top:545px;
  width:10px;
  height:45px;
}
#u87_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u87_end {
  position:absolute;
  left:-5px;
  top:28px;
  width:20px;
  height:18px;
}
#u87_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:45px;
}
#u88 {
  position:absolute;
  left:419px;
  top:560px;
  width:31px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:560px;
  top:560px;
  width:16px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:15px;
  color:#0000FF;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:360px;
  top:160px;
  width:183px;
  height:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:360px;
  top:600px;
  width:261px;
  height:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:0px;
  top:860px;
  width:300px;
  height:150px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u97 {
  position:absolute;
  left:2px;
  top:67px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:18px;
  top:880px;
  width:273px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:38px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:37px;
  top:934px;
  width:248px;
  height:16px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:0px;
  top:960px;
  width:300px;
  height:10px;
}
#u102_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u103 {
  position:absolute;
  left:140px;
  top:965px;
  width:10px;
  height:45px;
}
#u103_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u103_end {
  position:absolute;
  left:-5px;
  top:28px;
  width:20px;
  height:18px;
}
#u103_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:45px;
}
#u104 {
  position:absolute;
  left:44px;
  top:980px;
  width:46px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:200px;
  top:980px;
  width:31px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:15px;
  color:#0000FF;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:0px;
  top:1020px;
  width:236px;
  height:16px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:360px;
  top:640px;
  width:300px;
  height:150px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u111 {
  position:absolute;
  left:2px;
  top:67px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:456px;
  top:657px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:390px;
  top:687px;
  width:260px;
  height:32px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:32px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:360px;
  top:740px;
  width:300px;
  height:10px;
}
#u116_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u116_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u116_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u117 {
  position:absolute;
  left:500px;
  top:745px;
  width:10px;
  height:45px;
}
#u117_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u117_end {
  position:absolute;
  left:-5px;
  top:28px;
  width:20px;
  height:18px;
}
#u117_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:45px;
}
#u118 {
  position:absolute;
  left:419px;
  top:760px;
  width:31px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:560px;
  top:760px;
  width:16px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:15px;
  color:#0000FF;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:360px;
  top:800px;
  width:300px;
  height:16px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:360px;
  top:860px;
  width:300px;
  height:150px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u125 {
  position:absolute;
  left:2px;
  top:67px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:464px;
  top:877px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:379px;
  top:907px;
  width:260px;
  height:32px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:32px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:360px;
  top:960px;
  width:300px;
  height:10px;
}
#u130_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u130_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u130_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u131 {
  position:absolute;
  left:500px;
  top:965px;
  width:10px;
  height:45px;
}
#u131_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u131_end {
  position:absolute;
  left:-5px;
  top:28px;
  width:20px;
  height:18px;
}
#u131_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:45px;
}
#u132 {
  position:absolute;
  left:419px;
  top:980px;
  width:31px;
  height:17px;
  font-size:15px;
  color:#0000FF;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:560px;
  top:980px;
  width:16px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:15px;
  color:#0000FF;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:360px;
  top:1020px;
  width:170px;
  height:16px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
