body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1744px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:677px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:677px;
}
#u1 {
  position:absolute;
  left:2px;
  top:330px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:19px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:19px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1px;
  top:49px;
  width:373px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:510px;
  width:375px;
  height:167px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:167px;
}
#u6 {
  position:absolute;
  left:2px;
  top:76px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:138px;
  top:550px;
  width:100px;
  height:100px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u8 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:148px;
  top:560px;
  width:80px;
  height:80px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u10 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:299px;
  top:582px;
  width:35px;
  height:35px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:440px;
  top:0px;
  width:375px;
  height:677px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:677px;
}
#u14 {
  position:absolute;
  left:2px;
  top:330px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:440px;
  top:0px;
  width:375px;
  height:19px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:19px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:441px;
  top:49px;
  width:373px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u18 {
  position:absolute;
  left:440px;
  top:510px;
  width:375px;
  height:167px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:167px;
}
#u19 {
  position:absolute;
  left:2px;
  top:76px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:487px;
  top:586px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:710px;
  top:586px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:37px;
  top:586px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:-10px;
  top:696px;
  width:294px;
  height:293px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:100px;
  top:0px;
  width:189px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:185px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:92px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
}
#u32 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:100px;
  top:30px;
  width:189px;
  height:92px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:92px;
}
#u34 {
  position:absolute;
  left:2px;
  top:30px;
  width:185px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:122px;
  width:100px;
  height:82px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:82px;
}
#u36 {
  position:absolute;
  left:2px;
  top:33px;
  width:96px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:100px;
  top:122px;
  width:189px;
  height:82px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:82px;
}
#u38 {
  position:absolute;
  left:2px;
  top:25px;
  width:185px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:204px;
  width:100px;
  height:84px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u40 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:100px;
  top:204px;
  width:189px;
  height:84px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:84px;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:185px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:440px;
  top:696px;
  width:294px;
  height:209px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:100px;
  top:0px;
  width:189px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:185px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:92px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:92px;
}
#u49 {
  position:absolute;
  left:2px;
  top:38px;
  width:96px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:100px;
  top:30px;
  width:189px;
  height:92px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:92px;
}
#u51 {
  position:absolute;
  left:2px;
  top:30px;
  width:185px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:122px;
  width:100px;
  height:82px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:82px;
}
#u53 {
  position:absolute;
  left:2px;
  top:33px;
  width:96px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:100px;
  top:122px;
  width:189px;
  height:82px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:82px;
}
#u55 {
  position:absolute;
  left:2px;
  top:25px;
  width:185px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1075px;
  top:452px;
  width:375px;
  height:167px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:167px;
}
#u57 {
  position:absolute;
  left:2px;
  top:76px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1121px;
  top:528px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:1345px;
  top:528px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:1075px;
  top:629px;
  width:281px;
  height:48px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:48px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:880px;
  top:452px;
  width:118px;
  height:120px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:120px;
}
#u65 {
  position:absolute;
  left:2px;
  top:52px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:889px;
  top:462px;
  width:100px;
  height:100px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u67 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:899px;
  top:472px;
  width:80px;
  height:80px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u69 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:880px;
  top:582px;
  width:53px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:1525px;
  top:452px;
  width:174px;
  height:103px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:103px;
}
#u73 {
  position:absolute;
  left:2px;
  top:44px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:1563px;
  top:492px;
  width:105px;
  height:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:1525px;
  top:620px;
  width:229px;
  height:13px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:13px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:1010px;
  top:482px;
  width:50px;
  height:0px;
}
#u78_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:64px;
  height:20px;
}
#u79 {
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:1460px;
  top:492px;
  width:50px;
  height:0px;
}
#u80_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:64px;
  height:20px;
}
#u81 {
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
