body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:343px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:36px;
}
#u2 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:27px;
  top:0px;
  width:122px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u4 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:149px;
  top:0px;
  width:594px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:36px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:590px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:743px;
  top:0px;
  width:257px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:36px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:253px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:36px;
  width:27px;
  height:36px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:36px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:23px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:27px;
  top:36px;
  width:122px;
  height:36px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:149px;
  top:36px;
  width:594px;
  height:36px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:36px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:590px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:743px;
  top:36px;
  width:257px;
  height:36px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:36px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:72px;
  width:27px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:23px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:27px;
  top:72px;
  width:122px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:149px;
  top:72px;
  width:594px;
  height:30px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:590px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:743px;
  top:72px;
  width:257px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:102px;
  width:27px;
  height:36px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:23px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:27px;
  top:102px;
  width:122px;
  height:36px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:149px;
  top:102px;
  width:594px;
  height:36px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:590px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:743px;
  top:102px;
  width:257px;
  height:36px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:36px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:138px;
  width:27px;
  height:36px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:23px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:27px;
  top:138px;
  width:122px;
  height:36px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:149px;
  top:138px;
  width:594px;
  height:36px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:36px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:590px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:743px;
  top:138px;
  width:257px;
  height:36px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:36px;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:174px;
  width:27px;
  height:68px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:68px;
}
#u42 {
  position:absolute;
  left:2px;
  top:26px;
  width:23px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:27px;
  top:174px;
  width:122px;
  height:68px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:68px;
}
#u44 {
  position:absolute;
  left:2px;
  top:18px;
  width:118px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:149px;
  top:174px;
  width:594px;
  height:68px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:68px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:590px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:743px;
  top:174px;
  width:257px;
  height:68px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:68px;
}
#u48 {
  position:absolute;
  left:2px;
  top:26px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:242px;
  width:27px;
  height:30px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:23px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:27px;
  top:242px;
  width:122px;
  height:30px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:149px;
  top:242px;
  width:594px;
  height:30px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:590px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:743px;
  top:242px;
  width:257px;
  height:30px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:272px;
  width:27px;
  height:30px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:23px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:27px;
  top:272px;
  width:122px;
  height:30px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:149px;
  top:272px;
  width:594px;
  height:30px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:590px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:743px;
  top:272px;
  width:257px;
  height:30px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:302px;
  width:27px;
  height:36px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:36px;
}
#u66 {
  position:absolute;
  left:2px;
  top:10px;
  width:23px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:27px;
  top:302px;
  width:122px;
  height:36px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u68 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:149px;
  top:302px;
  width:594px;
  height:36px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:36px;
}
#u70 {
  position:absolute;
  left:2px;
  top:10px;
  width:590px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:743px;
  top:302px;
  width:257px;
  height:36px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:36px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:253px;
  word-wrap:break-word;
}
