body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1755px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:88px;
  top:194px;
  width:200px;
  height:280px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:280px;
}
#u5 {
  position:absolute;
  left:2px;
  top:124px;
  width:196px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:174px;
  top:114px;
  width:27px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:330px;
  top:30px;
  width:27px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:450px;
  top:0px;
  width:375px;
  height:667px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u11 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:450px;
  top:0px;
  width:375px;
  height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:538px;
  top:194px;
  width:200px;
  height:280px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:280px;
}
#u15 {
  position:absolute;
  left:2px;
  top:124px;
  width:196px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:624px;
  top:114px;
  width:27px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:780px;
  top:30px;
  width:27px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:900px;
  top:0px;
  width:375px;
  height:667px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u21 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:900px;
  top:0px;
  width:375px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1031px;
  top:577px;
  width:10px;
  height:10px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1055px;
  top:577px;
  width:10px;
  height:10px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1079px;
  top:577px;
  width:10px;
  height:10px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:988px;
  top:194px;
  width:200px;
  height:280px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:280px;
}
#u31 {
  position:absolute;
  left:2px;
  top:124px;
  width:196px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:1041px;
  top:140px;
  width:92px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:1230px;
  top:30px;
  width:27px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:142px;
  top:140px;
  width:92px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:600px;
  top:140px;
  width:92px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:1074px;
  top:114px;
  width:27px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:1103px;
  top:577px;
  width:10px;
  height:10px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u43 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1123px;
  top:577px;
  width:10px;
  height:10px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u45 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1380px;
  top:0px;
  width:375px;
  height:667px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u47 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1380px;
  top:0px;
  width:375px;
  height:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:1511px;
  top:577px;
  width:10px;
  height:10px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u51 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1535px;
  top:577px;
  width:10px;
  height:10px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u53 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:1559px;
  top:577px;
  width:10px;
  height:10px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u55 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1468px;
  top:194px;
  width:200px;
  height:280px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:280px;
}
#u57 {
  position:absolute;
  left:2px;
  top:124px;
  width:196px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1521px;
  top:140px;
  width:92px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:1710px;
  top:30px;
  width:27px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:1554px;
  top:114px;
  width:27px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:1583px;
  top:577px;
  width:10px;
  height:10px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u65 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:1603px;
  top:577px;
  width:10px;
  height:10px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u67 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:586px;
  top:577px;
  width:10px;
  height:10px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u69 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:610px;
  top:577px;
  width:10px;
  height:10px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u71 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:634px;
  top:577px;
  width:10px;
  height:10px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u73 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:658px;
  top:577px;
  width:10px;
  height:10px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u75 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:678px;
  top:577px;
  width:10px;
  height:10px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u77 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:137px;
  top:577px;
  width:10px;
  height:10px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u79 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:161px;
  top:577px;
  width:10px;
  height:10px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u81 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:185px;
  top:577px;
  width:10px;
  height:10px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u83 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:209px;
  top:577px;
  width:10px;
  height:10px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u85 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:229px;
  top:577px;
  width:10px;
  height:10px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u87 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:1470px;
  top:610px;
  width:198px;
  height:37px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:37px;
}
#u89 {
  position:absolute;
  left:2px;
  top:10px;
  width:194px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:0px;
  top:690px;
  width:309px;
  height:550px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:550px;
}
#u91 {
  position:absolute;
  left:2px;
  top:267px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:450px;
  top:700px;
  width:304px;
  height:540px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:540px;
}
#u93 {
  position:absolute;
  left:2px;
  top:262px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:900px;
  top:700px;
  width:303px;
  height:540px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:540px;
}
#u95 {
  position:absolute;
  left:2px;
  top:262px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
