body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:640px;
  top:1364px;
  width:1px;
  height:112px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:112px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:88px;
  top:210px;
  width:200px;
  height:200px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u7 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:330px;
  top:30px;
  width:27px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:375px;
  top:0px;
  width:375px;
  height:667px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u11 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:375px;
  top:0px;
  width:375px;
  height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:463px;
  top:210px;
  width:200px;
  height:200px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u15 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:705px;
  top:30px;
  width:27px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:750px;
  top:0px;
  width:375px;
  height:667px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u19 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:750px;
  top:0px;
  width:375px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:838px;
  top:210px;
  width:200px;
  height:200px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u23 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1080px;
  top:30px;
  width:27px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:1125px;
  top:0px;
  width:375px;
  height:667px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u27 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1125px;
  top:0px;
  width:375px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1270px;
  top:577px;
  width:10px;
  height:10px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:1294px;
  top:577px;
  width:10px;
  height:10px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1318px;
  top:577px;
  width:10px;
  height:10px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u35 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1213px;
  top:210px;
  width:200px;
  height:200px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u37 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1455px;
  top:30px;
  width:27px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:1342px;
  top:577px;
  width:10px;
  height:10px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1215px;
  top:610px;
  width:198px;
  height:37px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:37px;
}
#u43 {
  position:absolute;
  left:2px;
  top:10px;
  width:194px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:139px;
  top:469px;
  width:97px;
  height:28px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:514px;
  top:462px;
  width:97px;
  height:28px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:893px;
  top:462px;
  width:97px;
  height:28px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:1261px;
  top:462px;
  width:97px;
  height:28px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:896px;
  top:577px;
  width:10px;
  height:10px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u53 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:920px;
  top:577px;
  width:10px;
  height:10px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u55 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:944px;
  top:577px;
  width:10px;
  height:10px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u57 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:968px;
  top:577px;
  width:10px;
  height:10px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u59 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:522px;
  top:577px;
  width:10px;
  height:10px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u61 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:546px;
  top:577px;
  width:10px;
  height:10px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u63 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:570px;
  top:577px;
  width:10px;
  height:10px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u65 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:594px;
  top:577px;
  width:10px;
  height:10px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u67 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:147px;
  top:577px;
  width:10px;
  height:10px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u69 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:171px;
  top:577px;
  width:10px;
  height:10px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u71 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:195px;
  top:577px;
  width:10px;
  height:10px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u73 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:219px;
  top:577px;
  width:10px;
  height:10px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u75 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:68px;
  top:1156px;
  width:27px;
  height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:296px;
  top:1156px;
  width:66px;
  height:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:540px;
  top:1156px;
  width:27px;
  height:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:736px;
  top:1156px;
  width:27px;
  height:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:39px;
  top:1130px;
  width:105px;
  height:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:276px;
  top:1130px;
  width:105px;
  height:16px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:501px;
  top:1130px;
  width:105px;
  height:16px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:697px;
  top:1130px;
  width:105px;
  height:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:39px;
  top:1202px;
  width:118px;
  height:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:270px;
  top:1202px;
  width:118px;
  height:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:494px;
  top:1202px;
  width:118px;
  height:16px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:39px;
  top:1272px;
  width:79px;
  height:32px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:290px;
  top:1272px;
  width:79px;
  height:32px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:494px;
  top:1272px;
  width:118px;
  height:32px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:32px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:710px;
  top:1272px;
  width:79px;
  height:32px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:39px;
  top:1350px;
  width:79px;
  height:32px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:290px;
  top:1350px;
  width:105px;
  height:32px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:710px;
  top:1350px;
  width:118px;
  height:32px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:32px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:39px;
  top:1420px;
  width:105px;
  height:48px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:48px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:494px;
  top:1420px;
  width:118px;
  height:48px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:48px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:710px;
  top:1420px;
  width:92px;
  height:48px;
  color:#000000;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:48px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:39px;
  top:1512px;
  width:118px;
  height:48px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:48px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:277px;
  top:1512px;
  width:92px;
  height:48px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:48px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:494px;
  top:1512px;
  width:118px;
  height:48px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:48px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:710px;
  top:1512px;
  width:53px;
  height:48px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:48px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:39px;
  top:1632px;
  width:118px;
  height:48px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:48px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:277px;
  top:1632px;
  width:92px;
  height:48px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:48px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:494px;
  top:1632px;
  width:144px;
  height:48px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:48px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:710px;
  top:1632px;
  width:66px;
  height:48px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:48px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:39px;
  top:1732px;
  width:109px;
  height:32px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:277px;
  top:1732px;
  width:109px;
  height:32px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:494px;
  top:1732px;
  width:109px;
  height:32px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:710px;
  top:1732px;
  width:109px;
  height:32px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:766px;
  top:1774px;
  width:53px;
  height:16px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:39px;
  top:1830px;
  width:109px;
  height:32px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:95px;
  top:1872px;
  width:53px;
  height:16px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:95px;
  top:1898px;
  width:53px;
  height:16px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:95px;
  top:1924px;
  width:53px;
  height:16px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:277px;
  top:1830px;
  width:109px;
  height:32px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:95px;
  top:1950px;
  width:53px;
  height:16px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:333px;
  top:1872px;
  width:53px;
  height:16px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:333px;
  top:1898px;
  width:53px;
  height:16px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u160 {
  position:absolute;
  left:333px;
  top:1924px;
  width:53px;
  height:16px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u162 {
  position:absolute;
  left:333px;
  top:1950px;
  width:53px;
  height:16px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u164 {
  position:absolute;
  left:333px;
  top:1976px;
  width:53px;
  height:16px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u166 {
  position:absolute;
  left:39px;
  top:2002px;
  width:118px;
  height:48px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:48px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u168 {
  position:absolute;
  left:277px;
  top:2002px;
  width:92px;
  height:48px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:48px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u170 {
  position:absolute;
  left:268px;
  top:2148px;
  width:105px;
  height:64px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:64px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u172 {
  position:absolute;
  left:39px;
  top:2148px;
  width:118px;
  height:64px;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:64px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u174 {
  position:absolute;
  left:268px;
  top:2232px;
  width:118px;
  height:48px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:48px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u176 {
  position:absolute;
  left:39px;
  top:2232px;
  width:118px;
  height:48px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:48px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u178 {
  position:absolute;
  left:494px;
  top:1830px;
  width:109px;
  height:32px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u180 {
  position:absolute;
  left:710px;
  top:1830px;
  width:109px;
  height:32px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u182 {
  position:absolute;
  left:133px;
  top:507px;
  width:109px;
  height:16px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u184 {
  position:absolute;
  left:508px;
  top:500px;
  width:109px;
  height:16px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u186 {
  position:absolute;
  left:887px;
  top:500px;
  width:109px;
  height:16px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u188 {
  position:absolute;
  left:1255px;
  top:500px;
  width:109px;
  height:16px;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u190 {
  position:absolute;
  left:532px;
  top:1680px;
  width:53px;
  height:16px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u192 {
  position:absolute;
  left:32px;
  top:692px;
  width:97px;
  height:28px;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u194 {
  position:absolute;
  left:32px;
  top:730px;
  width:364px;
  height:76px;
  font-size:16px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:76px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  white-space:nowrap;
}
#u196 {
  position:absolute;
  left:290px;
  top:23px;
  width:30px;
  height:30px;
  color:#0099FF;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u197 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:161px;
  top:597px;
  width:30px;
  height:30px;
  color:#0099FF;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u199 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:1413px;
  top:614px;
  width:30px;
  height:30px;
  color:#0099FF;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u201 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:32px;
  top:830px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u204 {
  position:absolute;
  left:32px;
  top:849px;
  width:21px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u206 {
  position:absolute;
  left:97px;
  top:849px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u208 {
  position:absolute;
  left:32px;
  top:868px;
  width:48px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u210 {
  position:absolute;
  left:97px;
  top:868px;
  width:197px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:19px;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u212 {
  position:absolute;
  left:32px;
  top:887px;
  width:48px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u214 {
  position:absolute;
  left:97px;
  top:887px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u216 {
  position:absolute;
  left:32px;
  top:940px;
  width:21px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u218 {
  position:absolute;
  left:97px;
  top:940px;
  width:113px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u220 {
  position:absolute;
  left:32px;
  top:959px;
  width:48px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u222 {
  position:absolute;
  left:97px;
  top:959px;
  width:681px;
  height:38px;
  font-size:16px;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:38px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  white-space:nowrap;
}
#u224 {
  position:absolute;
  left:32px;
  top:997px;
  width:48px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u226 {
  position:absolute;
  left:97px;
  top:997px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u228 {
  position:absolute;
  left:32px;
  top:1054px;
  width:21px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u230 {
  position:absolute;
  left:97px;
  top:1054px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u232 {
  position:absolute;
  left:32px;
  top:1073px;
  width:48px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u234 {
  position:absolute;
  left:97px;
  top:1073px;
  width:229px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:19px;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u236 {
  position:absolute;
  left:32px;
  top:1092px;
  width:48px;
  height:19px;
  font-size:16px;
  color:#0099FF;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u238 {
  position:absolute;
  left:97px;
  top:1092px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
