body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1117px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:8px;
  top:24px;
  width:22px;
  height:22px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:46px;
  width:375px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u7 {
  position:absolute;
  left:342px;
  top:22px;
  width:22px;
  height:22px;
  opacity:0.7;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u8 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:474px;
  width:375px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:358px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:375px;
  height:1px;
}
#u10 {
  position:absolute;
  left:19px;
  top:492px;
  width:56px;
  height:56px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u11 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:89px;
  top:492px;
  width:56px;
  height:56px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:52px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:158px;
  top:492px;
  width:56px;
  height:56px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u15 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:227px;
  top:492px;
  width:56px;
  height:56px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u17 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:297px;
  top:492px;
  width:56px;
  height:56px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u19 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:89px;
  top:562px;
  width:56px;
  height:56px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:52px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:630px;
  width:375px;
  height:37px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:37px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:19px;
  top:562px;
  width:56px;
  height:56px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:52px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:657px;
  top:710px;
  width:240px;
  height:130px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:130px;
}
#u27 {
  position:absolute;
  left:2px;
  top:57px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:667px;
  top:720px;
  width:220px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:691px;
  top:822px;
  width:53px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:817px;
  top:742px;
  width:70px;
  height:70px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u33 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:657px;
  top:812px;
  width:240px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u35 {
  position:absolute;
  left:667px;
  top:820px;
  width:20px;
  height:18px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u36 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:667px;
  top:756px;
  width:144px;
  height:31px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:31px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:657px;
  top:860px;
  width:240px;
  height:70px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:70px;
}
#u40 {
  position:absolute;
  left:2px;
  top:27px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:725px;
  top:880px;
  width:162px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:32px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:667px;
  top:872px;
  width:48px;
  height:48px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u44 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:620px;
  top:710px;
  width:27px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:607px;
  top:860px;
  width:40px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:657px;
  top:964px;
  width:240px;
  height:100px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:100px;
}
#u50 {
  position:absolute;
  left:2px;
  top:42px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:754px;
  top:982px;
  width:133px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:667px;
  top:976px;
  width:77px;
  height:77px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:77px;
}
#u54 {
  position:absolute;
  left:2px;
  top:30px;
  width:73px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:600px;
  top:964px;
  width:47px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:754px;
  top:1014px;
  width:133px;
  height:31px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:31px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:681px;
  top:1074px;
  width:53px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:657px;
  top:1072px;
  width:20px;
  height:18px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u62 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:656px;
  top:1121px;
  width:240px;
  height:76px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:76px;
}
#u64 {
  position:absolute;
  left:2px;
  top:30px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:724px;
  top:1141px;
  width:162px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:666px;
  top:1133px;
  width:48px;
  height:48px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u68 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:598px;
  top:1121px;
  width:47px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:724px;
  top:1157px;
  width:162px;
  height:31px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:620px;
  top:1231px;
  width:27px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:657px;
  top:1231px;
  width:240px;
  height:90px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:90px;
}
#u76 {
  position:absolute;
  left:2px;
  top:37px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:667px;
  top:1241px;
  width:230px;
  height:48px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:48px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:691px;
  top:1297px;
  width:53px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:667px;
  top:1295px;
  width:20px;
  height:18px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u82 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:907px;
  top:1231px;
  width:151px;
  height:32px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:32px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:906px;
  top:1121px;
  width:145px;
  height:32px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:32px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:907px;
  top:964px;
  width:210px;
  height:32px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:32px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:907px;
  top:860px;
  width:151px;
  height:32px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:32px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:907px;
  top:710px;
  width:197px;
  height:48px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:48px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:0px;
  top:696px;
  width:595px;
  height:630px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u95 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:100px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u97 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:250px;
  top:0px;
  width:103px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u99 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:353px;
  top:0px;
  width:119px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u101 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:472px;
  top:0px;
  width:118px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u103 {
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:121px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:121px;
}
#u105 {
  position:absolute;
  left:2px;
  top:52px;
  width:96px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:100px;
  top:30px;
  width:150px;
  height:121px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:121px;
}
#u107 {
  position:absolute;
  left:2px;
  top:44px;
  width:146px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:250px;
  top:30px;
  width:103px;
  height:121px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:121px;
}
#u109 {
  position:absolute;
  left:2px;
  top:52px;
  width:99px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:353px;
  top:30px;
  width:119px;
  height:121px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:121px;
}
#u111 {
  position:absolute;
  left:2px;
  top:52px;
  width:115px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:472px;
  top:30px;
  width:118px;
  height:121px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:121px;
}
#u113 {
  position:absolute;
  left:2px;
  top:52px;
  width:114px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:0px;
  top:151px;
  width:100px;
  height:113px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:113px;
}
#u115 {
  position:absolute;
  left:2px;
  top:48px;
  width:96px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:100px;
  top:151px;
  width:150px;
  height:113px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:113px;
}
#u117 {
  position:absolute;
  left:2px;
  top:40px;
  width:146px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:250px;
  top:151px;
  width:103px;
  height:113px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:113px;
}
#u119 {
  position:absolute;
  left:2px;
  top:48px;
  width:99px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:353px;
  top:151px;
  width:119px;
  height:113px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:113px;
}
#u121 {
  position:absolute;
  left:2px;
  top:48px;
  width:115px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:472px;
  top:151px;
  width:118px;
  height:113px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:113px;
}
#u123 {
  position:absolute;
  left:2px;
  top:48px;
  width:114px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:0px;
  top:264px;
  width:100px;
  height:144px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:144px;
}
#u125 {
  position:absolute;
  left:2px;
  top:64px;
  width:96px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:100px;
  top:264px;
  width:150px;
  height:144px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:144px;
}
#u127 {
  position:absolute;
  left:2px;
  top:56px;
  width:146px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:250px;
  top:264px;
  width:103px;
  height:144px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:144px;
}
#u129 {
  position:absolute;
  left:2px;
  top:64px;
  width:99px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:353px;
  top:264px;
  width:119px;
  height:144px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:144px;
}
#u131 {
  position:absolute;
  left:2px;
  top:64px;
  width:115px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:472px;
  top:264px;
  width:118px;
  height:144px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:144px;
}
#u133 {
  position:absolute;
  left:2px;
  top:64px;
  width:114px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:0px;
  top:408px;
  width:100px;
  height:133px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:133px;
}
#u135 {
  position:absolute;
  left:2px;
  top:58px;
  width:96px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:100px;
  top:408px;
  width:150px;
  height:133px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:133px;
}
#u137 {
  position:absolute;
  left:2px;
  top:50px;
  width:146px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:250px;
  top:408px;
  width:103px;
  height:133px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:133px;
}
#u139 {
  position:absolute;
  left:2px;
  top:58px;
  width:99px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:353px;
  top:408px;
  width:119px;
  height:133px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:133px;
}
#u141 {
  position:absolute;
  left:2px;
  top:58px;
  width:115px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:472px;
  top:408px;
  width:118px;
  height:133px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:133px;
}
#u143 {
  position:absolute;
  left:2px;
  top:58px;
  width:114px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:0px;
  top:541px;
  width:100px;
  height:84px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:center;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u145 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:100px;
  top:541px;
  width:150px;
  height:84px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:84px;
}
#u147 {
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:250px;
  top:541px;
  width:103px;
  height:84px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:84px;
}
#u149 {
  position:absolute;
  left:2px;
  top:34px;
  width:99px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:353px;
  top:541px;
  width:119px;
  height:84px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:84px;
}
#u151 {
  position:absolute;
  left:2px;
  top:26px;
  width:115px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:472px;
  top:541px;
  width:118px;
  height:84px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:84px;
}
#u153 {
  position:absolute;
  left:2px;
  top:34px;
  width:114px;
  word-wrap:break-word;
}
